<library path="p73_gui_plugin">
  <class name="p73_gui/P73Gui" type="p73_gui::P73Gui" base_class_type="rqt_gui_cpp::Plugin">
    <description>
      P73 Robot Control GUI for RQt
    </description>
    <qtgui>
      <label>P73 GUI</label>
      <icon type="file">resource/p73_cute.png</icon>
      <statustip>P73 humanoid robot control interface</statustip>
    </qtgui>
  </class>
</library>
